body
{
	padding: 0;
	margin: 0;
	background: #1C1C1C;
}
.header
{
	height: 70px;
	width: 100%;
	
	background: #fff;
}
.header .search-container
{
	margin-right: 280px;
}

.header .head-right
{
	float: right;
	padding-top: 8px;	
}

 table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #D8D8D8 !important;
},table.dataTable.display tbody tr:nth-child(even){background-color: #f2f2f2;}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #D8D8D8 !important;
}


.senseai{
	position: absolute;
    padding: 13px 30px;
    margin-left: 30px;
    top: 15px;
    border: none;
    background-color: #FF0040;
    color: white;
    font-weight: bold;
    border-radius: 23px;
    font-family: sans-serif;
}

.username{
	position: absolute;
    right: 20%;
    top: 25px;
    color: gray;
    font-family: sans-serif;
    font-size: 18px;
}
.logouttext{
	position: absolute;
    right: 5%;
    top: 22px;
    color: gray;
    font-family: sans-serif;
    font-size: 20px;
}

.userimg{
	position: absolute;
    right: 15%;
    top: 10px;
    height: 50px;
    width: 50px;
}
.notification{
	position: absolute;
    right: 10%;
    top: 15px;
    width: 35px;
    height: 35px;
}
.logoutimg{
	position: absolute;
    right: 1%;
    top: 22px;
    width: 25px;
    height: 25px;
}

.navbar
{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #000000;
	overflow-x: hidden;
	padding-top: 20px; 
}

.navbar a
{
	display: block;
	color:#D8D8D8;
	padding: 15px;
	font-size: 11pt;
	text-decoration: none;
	font-family:'Open Sans Regular', sans-serif;
	margin-left: 5px;
	margin-bottom: 5px;
}
.navbar ul a
{
	padding: 1px;
	font-family:'Open Sans Regular', sans-serif;
	font-size: 10pt;
	color: #848484;
}
.navbar ul
{
	margin-top: -5px;
}
.navbar a:hover
{
	background-color: #2E2E2E;
}

.navbar .events ul{
	display: none;
}
.navbar .events:hover ul{
	display: block;
}
.navbar .entities ul{
	display: none;
}
.navbar .entities:hover ul{
	display: block;
}
.navbar .geography ul{
	display: none;
}
.navbar .geography:hover ul{
	display: block;
}
.navbar .time-period .a{
	margin-left: 30px;
	margin-top: -5px;
	
}
.navbar .time-period .a a
{
	font-family:'Open Sans Regular', sans-serif;
	font-size: 11pt;
	color: #848484;
	margin-top: -20px;
}
form
{
	margin-top: -10px;
	margin-left: 20px;
	

}
input[type="text"]
{
	border: 1px solid #848484;
	color: #662D91;
	background-color: #000000;
	width: 100px;
	height: 25px;
	font-size: 16px;
}
input[type="checkbox"]
{
	float: right;
	margin-right: 20px;
	background: #000000;
}
img
{
	margin-right: 15px;
	width: 13px;
	height: 13px;
}
* {box-sizing: border-box}
body {font-family: "calibri";}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    
    width: 10.5%;
	margin-top: 16px;
	margin-left: 240px;
	
	height: 600px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
	
	border-radius: 4px;
	border: none;
	
	padding: 10px 0 10px ;
	width: 100%;
	/* height: 95px; */
	height: 87px;
	text-align: center;
	font-family:'Open Sans Regular', sans-serif;;
	font-size: 11pt; 
	border: 1px solid #424242;
	background-color: #1C1C1C;
	cursor: pointer;
	margin-bottom:7%;
	color: #848484;
	outline: none;

	
}
.tab button img
{
	width: 30px;
    height: 30px;
	text-align: center;
	margin-right: -5px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #FF0040;
	color: #fff;
	border: none;
    outline: none;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #FF0040;
	color: #fff;
	border: none;
    outline: none;
}

/* Style the tab content */
.tabcontent {
   
    margin-top: -600px;
    margin-left: 420px;
	/* width: 72%; */
	width:68%;
	border-left: none;
	/* height: 600px; */
	height: 560px;
}
.Maps button {
    display: block;
	
	border-radius: 4px;
	border: none;
	
	padding: 10px 0 10px ;
	width: 30px;
	height: 10px;
	text-align: center;
	font-family:'Open Sans Regular', sans-serif;
	 
	border: 1px solid #424242;
	background-color: #1C1C1C;
	cursor: pointer;
	
	color: #848484;
	
}
.Maps button:hover {
    background-color: #FF0040;
    color: #fff;
}

/* Create an active/current "tab button" class */
.Maps button.active {
    background-color: #FF0040;
    color: #fff;
}

.tabcont {
   
   
    
	width: 100%;
	border-left: none;
	height: 100%;
}
.tabcont iframe
{
	width: 100%;
	border: none;
	height: 100%;
	background-size: cover;
	object-fit: cover;
	background-color: #1C1C1C;
	float: left;


}

.tabcontent iframe
{
	width: 100%;
	border: none;
	height: 100%;
	background-size: cover;
	object-fit: cover;
	background-color: #1C1C1C;
	float: left;


}

.alertConfig{
	background-color: #2E2E2E;
    width: 45%;
    height: 85%;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 4px;
}

.alertConfig .header {
	background-color: #FF0040 !important;
	height: 55px !important;
	padding: 18px;
	font-size: 20px;
    text-align: center;
    color: #E6E6E6;
	border-radius: 4px;
}

.alertConfigBody select{
	width: 91%;
	background-color: #000000;
    /* margin-top: 5px; */
    margin: 15px 20px 1px;
    padding: 15px;
	border-radius: 5px;
	color:gray;
}

.trange{
	text-align: center;
	padding-top: 5px;
	color:gray;
	font-size: 14px;
}

.tm{
	padding: 10px;
    border-radius: 5px;
    margin-left: 1px;
}

.emailbox{
	width: 91%;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
}

.alertConfig .footer{
	text-align: center;
    padding: 8px;
    background-color: #2E2E2E;
    margin-top: -1px;
}

.saveConfig{
	padding: 9px;
    font-size: 15px;
    background-color: #FF0040;
    color: #E6E6E6;
    border: none;
    border-radius: 5px;
}

#example_wrapper{
	background-color: #1C1C1C;
	width: 100%;
	height: 400px;
	color: #848484;
}

.display td,th
{
	border: 0.3px solid #E6E6E6;
	text-align: left;
	color: #000000;
	background-color: white;
	font-family:'Open Sans Regular', sans-serif;
	font-size: 13px;
}
.display tr:nth-child(even)
{
	background-color: #BDBDBD;
}
.display th
{
	background-color: #FF0040;
	color: #FFFFFF;
}




/* 
#example_length label {
	padding: 10px;
    top: 2px !important;
    position: absolute;
} */

#example_filter{
	padding:8px;
	padding-bottom: 30px;
	float:left;

}
#example_filter input{
	padding:14px;
	width: 250px;
	height: 35px;
	border: 1px solid #FAFAFA;
    background-color: #1c1c1c;
	border-radius: 11px;
	color:gray;
	outline: none;
}


.dataTables_length{
	padding:20px;

}


#example_filter label {
	color: #1c1c1c;
    font-size: 0px;
}

#example_length select{
	padding: 6px !important;
    background-color: #BDBDBD !important;
}



/

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-style: italic;
	  }
	  ::-moz-placeholder { /* Firefox 19+ */
		font-style: italic;
	  }
	  :-ms-input-placeholder { /* IE 10+ */
		font-style: italic;
	  }
	  :-moz-placeholder { /* Firefox 18- */
		font-style: italic;
	  }

/*Action Workflow*/
h2
{
	color: #848484;
	font-family:'Open Sans Regular', sans-serif;
	margin-top: -10px;
}

.accordion {
	border-radius: 4px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    height: 45px;
}
.panel1
{
	width: 100%;
	height: 400px;
	  padding: 0 18px;
    display: none;
    background-color: #FFFFFF;
    overflow: hidden;
	color: #848484;
	position: relative;
}
.openDemand 
{
	position: absolute;
    height: 70px;
    width: 110px;
    top: 20px;
    border-radius: 8px;
    outline: none;
    margin-left: 20px; 
    cursor: pointer;
}
.openDemand img
{
	position: absolute;
	width: 200px;
	height: 70px;
	margin-top: -35px;
	margin-left: -60px;

}
.isInventory 
{
	position: absolute;
	width:110px;
	height: 70px;
	top: 20px;
	margin-left: 212px; 
	border-radius: 8px;
	outline: none;
	cursor: pointer;
}
.isInventory img
{
	position: absolute;
	width: 200px;
	height: 70px;
	margin-top: -35px;
	margin-left: -60px;
}
.marketPrice
{
	position: absolute;
	width: 120px;
	height: 65px;
	top: 20px;
	margin-left: 400px;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
}
.marketPrice img
{
	position: absolute;
	width: 140px;
	height: 130px;
	margin-top: -35px;
	margin-left: -62px;
}
.prequalifiedMarket
{
	position: absolute;
	width:120px;
	height: 70px;
	top: 140px;
	margin-left: 405px;
	border-radius: 8px;
	outline: none;
}
.prequalifiedMarket img
{
	position: absolute;
	width: 210px;
	height: 73px;
	margin-left: -145px;
	margin-top: -35px;
}
.businessApproval
{
	position: absolute;
	width:120px;
	height: 70px;
	top: 140px;
	margin-left: 205px;
	border-radius: 8px;
	outline: none;
}
.businessApproval img
{
	position: absolute;
	width: 210px;
	height: 73px;
	margin-left: -145px;
	margin-top: -35px;
}

.negotiateAgreement
{
	position: absolute;
	width:120px;
	height: 70px;
	top: 140px;
	border-radius: 8px;
	margin-left: 11px;
	outline: none;
}
.negotiateAgreement img
{
	position: absolute;
	width: 140px;
	height: 140px;
	margin-left: -80px;
	margin-top: -34px;
}
.financeApproval
{
	position: absolute;
	width: 120px;
	height: 75px;
	top: 270px;
	margin-left: 11px;
	border-radius: 8px;
	outline: none;
}
.financeApproval img
{
	position: absolute;
	width: 220px;
	height: 76px;
	margin-left: -60px;
	margin-top: -37px;
}
.raiseExecutePO
{
	position: absolute;
	width: 120px;
	height: 75px;
	top: 270px;
	margin-left: 220px;
	border-radius: 8px;
	outline: none;
}
.raiseExecutePO img
{
	position: absolute;
	width: 220px;
	height: 76px;
	margin-left: -60px;
	margin-top: -37px;
}
.specReview
{
	position: absolute;
	width: 120px;
	height: 75px;
	top: 270px;
	margin-left: 430px;
	border-radius: 8px;
	outline: none;
}
.specReview img
{
	position: absolute;
	width: 120px;
	height: 76px;
	margin-left: -60px;
	margin-top: -37px;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #FFFFFF;
    overflow: hidden;
    color: #848484;
}

.sidebar1 {
	display: none;
	position: absolute;
	border: none;
	margin: 0;
	top: 0;
	right: 0;
	z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#sidenavbar {
	
  }
.sidenavcontent {
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
	width: 80%;
	height: 95%;
}
.hide {
	overflow: hidden;
	width: 0%;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  
  .show {
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	width: 100%;
	overflow: hidden;
	display: block;
  }

  .sideImage {
	  width: 100%;
	  height: 90%;
	  background-size: cover;
  }

  .okButton {
	width: 50px;
    height: 50px;
	padding: 0;
	outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .okButton > img {
	  width: 100%;
	  height: 100%;
	  background-size: cover;
  }

  .sidenavbar {
	  width: 100%;
	  height: 100%;
	  background-size: cover;
  }

  .toggleSidebar {
	  position: relative;
	  top: 24px;
	  left: -38px;
	  font-size: 24px;
	  color: white;
	  width: 30px;
	  height: 30px;
	  cursor: pointer;
  }

  .toggleSidebar > span {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navbar.hideNav {
	  display: none;
	  width: 0;
  }
  
  .navbar.showNav {
	display: block;
}